body{
	margin:0;
	padding:0;
	background-color:#333;
	color:#CCC;
	text-align:center;
}
*{
	font:12pt arial;
}
header{
	text-align:left;
	padding:20px;
	background-color:#555;
	color:#888;
	font:36pt arial;
	border-bottom:solid 1px #888;
}
form{
	padding:20px;
	padding-top:50px;
	margin:auto;
	text-align:left;
	width:500px;
}
input{
	background:none;
	padding:10px;
	font:12pt arial;
	color:#888;
	border:solid 1px #888;
	outline:none;
	width:400px;
	margin-top:6px;
	margin-bottom:16px;
	display:block;
}
input[type="submit"]{
	background-color:#E60;
	border-color:#E60;
	color:#FFF;
}
.nav{
	text-decoration: currentColor;
	font-size: 10px;
	padding: 5px;
	margin: 20px;

	
}
.navbar-nav{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background: black;
  
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover{
  color: #111;
  background: #fff;
}




#message{
	text-align:left;
	padding:20px;
	background-color:#800;
	border-top:dashed 1px #AAA;
	border-bottom:dashed 1px #AAA;
}
a{
	padding:14px;
	background-color:#E60;
	text-decoration:none;
	color:#FFF;
	vertical-align:middle;
	margin-left:60px;
	border-radius:6px;
}
a:hover{
	background-color:#F80;
}
h1{
	font-size:36pt;
	color:#AAA;
	font-weight:normal;
}
h1 span{
	font:inherit;
	color:#F80;

}

.categorie{
	width:600px;
	margin: auto;
	background-color: red;
	height: 50px;
}